doctype html
html
    head  
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title File upload
    body
        h1 Welcome Page #{userName}
        img(src=imgUrl, alt='Upload Image', width='300')