doctype html
html
    head
body
    h1= title
    div(style={'display': 'flex'})
       form(action="", method="post", style={'margin-right': '10px'})
        p
            input(type="text", name="name", placeholder="Name", required)
        p
            input(type="text", name="surname", placeholder="Surname", required)
        p
            input(type="number", name="id", placeholder="ID", required)
        p
            input(type="text", name="birthday", placeholder="Birthday", required)
        p
            button(type="submit") Add Person
       form(action="", method="post")
        p
            input(type="text", name="product_name", placeholder="Product Name", required)
        p
            input(type="number", name="id", placeholder="Product ID", required)
        p
            input(type="number", name="product_price", placeholder="Product Price", required)
        p
            button(type="submit") Add Car
    div(style={'display': 'flex'})
       form(action='http://localhost:3000/persons', method="post", style={'margin-right': '10px'})
        p
            input(type="number", name="id", placeholder="ID", required)
        p
            button(type="submit") Search Person
       form(action="", method="post", style={'margin-right': '10px'})
        p
            input(type="number", name="vin", placeholder="VIN", required)
        p
            button(type="submit") Search Car



        