doctype html
html
    head
        title= title
body
    a(href="/product_1") Graphics Card 
    span |
    a(href="/product_2") HDMI Cable 
    span |
    a(href="/product_3") SSD Drive 
    span |
    
    a(href="/summary") Summary
    