include index.pug
h1 SSD Drive
img(src='https://www.backblaze.com/blog/wp-content/uploads/2016/03/blog-ssd-inside.jpg' width='100px' height='100px') 
p Price:     95.96$
p Description: 960 PRO NVMe M.2 SSD
form(action='http://localhost:3000/register_3', method="POST")
        p Quantity:
              input(type='number', name="quantity")
        p
            input(type="submit", value='Submit')