include index.pug
h1 Graphic Card
img(src='http://xfurbish.com/image/cache/IBM%20GXT135P%20PCI%20GRAPHIC%20CARD%2000P2530-700x700.jpg' width='100px' height='100px') 
p Price:     299$
p Description: 8-bit XT: Adlib FM Sound card
form(action='http://localhost:3000/register_1', method="POST")
        p Quantity:
              input(type='number', name="quantity")
        p
            input(type="submit", value='Submit')