body
    h1= title
    hr
    ul
      li= 'Graphic Card,  ' + ' price -299$, ' +'quantity -'+ quantity_1 +', total - ' + quantity_1 * 299 +'$'
      li= 'HDMI Cable,  ' + ' price -8.99$, ' +'quantity -'+ quantity_2 +', total - ' + quantity_2 * 8.99 +'$'
      li= 'Graphic Card,  ' + ' price -95.96$, ' +'quantity -'+ quantity_3 +', total - ' + quantity_3 * 95.96 +'$'