.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-dual-ring {
  display: block;
  width: 64px;
  height: 64px;
  margin:  15px auto ;
  /* background-color: seagreen */
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color:black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 95%;
  margin: 20px auto 0;
}
.results{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  width: 90%;
  margin:0 auto;

}
.result {
  border: 2px solid black;
  padding: 10px;
  width: 20%;
  margin-top: 20px;
  
}
input, button {
  outline:none;
  padding: 10px;
}
button {
  background: #61dafb;
  border:none;
  cursor:pointer;
  padding: 10px 20px;
  margin-left: 10px;
  }
button:active{
  outline: #333;
}
button:hover{
  background: #2e7386;
}
input:focus{
  box-shadow: 0 0 5px 5px rgb(48,166,206)
}
.input{
  display:flex;
  justify-content: center;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}
input{
  width: 350px;
}

.result a {
  text-decoration: none;
  color: salmon;
}
.result a:hover{
  color:rgb(13, 52, 65)
}

