doctype html
html
    head
        title
body
    hr
    input(List="countries", required)
        datalist
                each country in array
                option(value=`${country.name}`)
               

   