doctype html
html
    head
        title= title
body(style=`background-color: ${color}`)
    form(action="", method="post")
        p
            input(type="color", name="color")
        p
            input(type="submit", value='send')