doctype html
html 
    head
       title Case Statement in Pug
    body 
       - const orderStatus = 'Intransit'

       case orderStatus
           when 'Pending'
               p your order has been placed
           when 'Intransit'
               p your order is on the move
           when 'Completed'
               p your order is completed